extends layout

block content
  .row
    include chat.jade
    div#video-column.col-xs-7.video
       script(src='/javascripts/getVideos.js', id="video")
    div#right-column.col-xs-2
      img(src="http://placehold.it/245x140.jpg")
  


 