doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    script(src='/components/angular/angular.js')
  body
    #topbar
      h1(id="title")= title
      .row
        .col-xs-2
          img(src="../images/github.png", id="github")
          img(src="../images/left-arrow.png", id="arrow-left")
            
        p(id="username", class="col-xs-1") Max Lever
        p(id="user-bio", class="col-xs-7") Developing Hack.TV, a web application built on nodejs, 
          and github + twitch frameworks.  It allows you to stream 
          and or watch live coding sessions.
        .col-xs-2
          img(src="../images/right-arrow.png", id="arrow-right")
  block content
