@font-face {
	font-family: somepx;
	src: url("../fonts/somepx.ttf");
}
* {
margin: 0 0;
}
/* * * * * * HEADER * * * * * */
#title {
	font-size: 50px;
	margin-top: 15px;
	margin-left: 25px;
	font-family: somepx;
}

#topbar {
	height: 120px;
	display: block;
	width: 100%;
	padding-bottom: 40px;
	border-bottom: 1px solid #000;
}

#arrow-left {
width: 32px;
height: 28px;
float: right;
}
#github {
	height: 32px;
	width: 32px;
	/*padding: 18px;*/
	float: right;
}
#username {
	margin: 5px 0px 0 0;
	float: left;
}
#user-bio {
	
}
/* * * * * * START OF BODY * * * * * */
#arrow-right {
width: 32px;
height: 28px;
}
#clip_embed_player_flash {
	margin: 0 auto;
}
#left-column {
	height: 100%;

}
#video-column {
	height: 100%;

}
#right-column {
	height: 100%;

}